@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    background-color: aqua;
}

.contact {
    color: white;
}

.contact {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div {
    padding: 10px;
}

.send {
    padding-left: 30px;
    padding-right: 30px;
    background-color: blueviolet;
}

.about {
    background-color: #f4f4f4;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

.about__title {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #333;
}

.about__paragraph {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: red;
}